@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(11, 2, 28);
}

footer {
  text-align: center;
  width: 100%;
  color: #ddd1dd;
  border: 1px solid #f7a9af;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 4px, 
                rgba(0, 0, 0, 0.3) 1px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
}

/* Header */

.header {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  background-color: rgb(169, 170, 170);
  display: flex;
  justify-content: center;
  text-align: center;
}

.img_logo {
  position: absolute;
  margin: 8px;
  left: 3px;
  border-radius: 20%;
}

.img_logo:hover {
  transform: rotate(90deg);
}

ul {
  list-style: none;
  position: absolute;
  top: 18px;
  right: 10px;
}

ul li {
  display: inline-block;
  padding: 10px;
} 

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300px;
  color: #222222;
  text-transform: uppercase;
}

.active {
  color: rgba(219, 41, 41, 0.9);
}

ul li:hover {
  color: rgba(219, 41, 41, 0.9);
  font-weight: 500;
}



/* Main */

.main {
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
}

.profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 50px;
    padding: 80px 50px 40px 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 236, 236);
    background-image: linear-gradient(
      115deg,
      rgba(220, 220, 231, 0.1),
      rgba(200, 200, 202, 0.1)
    ),
    url(../img/pls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    /* box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 4px, 
                rgba(0, 0, 0, 0.3) 1px 0px 13px -3px, 
                rgba(0, 0, 0, 0.2) 1px 0px 0px inset; */
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: 10px 0;
}

.me {
  border: 5px solid #fff1ff;
  border-radius: 50%; 
  max-width: 100%;
  max-height: 100%;
  min-width: 150px;
  min-height: 150px;
  margin: 0 auto; 
}

.title {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #ddd1dd;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(234, 248, 250);
  background: rgb(173, 20, 71);
  text-shadow: -2px -2px #171718
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
  width: auto;
  height: 280px;
}

.name {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: -3px -3px #000007
}

.text {
  padding-top: 15px;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 100;
}


.icons {
  background-color: #ddd1dd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 4px, 
                rgba(0, 0, 0, 0.3) 1px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
}

.fa-brands {
  padding: 10px;
  border: 1px solid rgb(148, 144, 144);
  border-radius: 50%;
  margin: 10px 0;
}

.icons i {
  margin: 0 15px;
  color: rgb(85, 83, 83);
  transition: all .095s ease;
}

.icons i:hover {
  cursor: pointer;
  color:rgb(235, 60, 60);
  border: 2px solid rgb(235, 60, 60);
  transform: scale(0.9);
}

.btn-container {
    padding-top: 30px;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  border-radius: 10px;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid rgb(235, 60, 60);
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #21c721;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #f7a9af;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
  text-shadow: -1.5px -1.5px #171718
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

/* Media Queries  */

@media screen and (max-width: 650px) {
  main {
   border: 2px solid white;
   border-radius: 10px;
   width: 100%;
   margin: 0 calc((100% - 100vw)/2);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  }

  .image-container {
    border: 2px solid white;
  }

  .profile {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .info {
    height: auto;
    text-align: center;
    border: 2px solid white;
  }

  .name {
    font-size: 25px;
    width: 100%;
  }
}