@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

.main {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    color: white;
    font-weight: 600;

}

.profile {
    gap: 100px;
    padding: 80px 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 236, 236);
    background-image: linear-gradient(
      115deg,
      rgba(220, 220, 231, 0.1),
      rgba(200, 200, 202, 0.1)
    ),
    url(../img/two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    /* box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 4px, 
                rgba(0, 0, 0, 0.3) 1px 0px 13px -3px, 
                rgba(0, 0, 0, 0.2) 1px 0px 0px inset; */
}

.icons {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 4px, 
                rgba(0, 0, 0, 0.3) 1px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 1px -3px 0px inset;
}

.icons i {
  margin: 0 15px;
}

.fa-brands {
  padding: 10px;
  border: 1px solid rgb(148, 144, 144);
  border-radius: 50%;
  margin: 10px 0;
}


.me {
    border: 5px solid #fff1ff;
    border-radius: 50%;  
}

.image-container {
    width: 200px;
}

.info {
    line-height: 1.5;
}

.name {
    font-size: 40px;
    text-transform: uppercase;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
}

.text {
    font-size: 16px;
    line-height: 1.2;
}

.btn-container {
    margin-top: 60px;
    bottom: 0;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  border-radius: 10px;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #4b5661;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #f7a9af;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

